@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.ttf) format('truetype');
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
  display: grid;
  grid-template-columns: minmax(70px, 1fr) 8fr;
  grid-template-rows: 90px 4fr;
  min-height: 100vh;
  grid-template-areas: 
  "nav header header"
  "nav main main";
  gap: 20px;
  padding-right: 20px;  
}

header {
  background-color: lightseagreen;
  grid-area: header;
  margin-top: 20px;
}

header.container-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px 30px;
}

div.header-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

div.header-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

nav.sidebar {
  background-color: lightcoral;
  grid-area: nav;
  grid-auto-rows: max-content;
  display: flex;
  flex-direction: column;
  align-items: left;
}

main {
  background-color: lightgreen;
  grid-area: main;
}

main.main-container {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 300px;
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  gap: 15px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  gap: 20px;
  padding: 20px;
  height: 100%;
}

.announcements {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  gap: 20px;
  padding: 20px;
  height: 100%;
}

.projects > div.card {
  height: 300px;
  background-color: lightslategray;
}

.announcements > div.card {
  height: 300px;
  background-color: lightsteelblue;
}

.title-projects {
  grid-column: 1 / -1;
}

ul, li {
  list-style: none;
  padding: 0;
}

ul {
  position: sticky;
  top: 10px;
}

.divider {
  width: 1px;
  height: 100%;
  background-color: black;
}

header .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: lightgray;
}
