* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  background-color: black;
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 5fr;
  grid-template-rows: 100px 4fr;
  min-height: 100vh;
  grid-template-areas: 
  "nav header header"
  "nav main main";
  gap: 15px;  
}

header {
  background-color: lightseagreen;
  grid-area: header;
}

header.container-header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}
/* DEV */
header > div { 
  border: 1px solid brown;
}

nav {
  background-color: lightcoral;
  grid-area: nav;
}
/* DEV */
nav > div {
  border: 1px solid brown;
}

main {
  background-color: lightgreen;
  grid-area: main;
}
main.main-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: minmax(100px, 1fr) repeat(auto-fil minmax(2fr));

}
/* DEV */
main > div {
  border: 1px solid brown;
}

